@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');
* {
   box-sizing: border-box;
}
.cls-1,
.cls-2 {
   fill: none;
   stroke-width: 2px;
}


.cls-1 {
   stroke: #fff;
   fill: #000;
}
a {
   color: #fff;
}
.cls-1,
.cls-2,
.cls-3 {
   fill-rule: evenodd;
}

.cls-2 {
   stroke: #f6f7fc;
}

.cls-3,
.cls-4 {
   fill: #fff;
}

.logo-big-circle_black {
   stroke: #000;
   fill: none;
}

.logo-big-circle_white {
   stroke: #fff;
   fill: none;
}

.logo-triangle {
   fill: none;
   stroke: #000;
}

.icon_black {
   stroke: #000;
   fill: none;
}

.icon_white {
   fill: none;
   stroke: #fff;

}

.fill_white {
   fill: #fff;
   stroke: #fff;
}
.fill_black {
   fill: #000;
   stroke: #000;
}
html {
   font-size: 12px;
}
body {
   font-family: 'Lato', sans-serif;
   line-height: 1.2;
   max-width: 1920px;
}
p {
   font-weight: 300;
}
.header__container {
   padding: 0 5%;
   margin: 0 auto;
   max-width: 700px;
   position: relative;
   height: 100%;
}
.container {
   max-width: 903px;
   margin: 0 auto;
}
header {
   background-image: url(../img/hero-bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: right center;
   text-align: center;
   color: #fff;
   width: 100%;
   height: 100%;
}
.header-logo {
   width: 5rem;
   height: 5.1rem;
}
.egoist {
   display: block;
}
.header__logo {
   padding-top: 13.02083vw;
   margin-bottom: 4.94792vw;
}
h2,h3,h4 {
   text-transform: uppercase;
   font-weight: bold;
   letter-spacing: 0.16em;
}
.header__title {
   font-size: 3.375rem;
   letter-spacing: 0.16em;
   margin-bottom: 3.125rem;
}
.header__text {
   letter-spacing: 0.06em;
   text-transform: uppercase;
}
.header__scroll {
   width: 23px;
   height: 37px;
}
.header__text-container {
   margin-bottom: 15rem;
}
.header__anchor {
   display: block;
   margin-bottom: 7.18rem;
   position: absolute;
   bottom: 10.7%;
   right: 50%;
   margin: 0 auto;
}
article {
   width: 100%;
}
.container__title {
   font-size: 2.125rem;
   position: relative;
   top: -0.9em;
}
.container {
   max-width: 903px;
   margin: 0 auto;
   text-align: center;
}
.about {
   padding-top: 7.29vw;
   margin-bottom: 8.33vw;
}
.container__border {
   border: 2px solid #000;
   border-top: none;
   position: relative;
   padding: 0 21%;   
   line-height: 1.5;
   margin: 0 2%;
}
.container__border:before {
   content: '';
   font-size: 0.833vw;
   background-color: #000;
   width: 15.8em;
   height: 2px;
   position: absolute;
   top: 0;
   left: 0;
   display: block;
}
.container__border:after {
   content: '';
   background-color: #000;
   font-size: 0.833vw;
   width: 15.8em;
   height: 2px;
   position: absolute;
   top: 0;
   right: 0;
   display: block;
}
.container__text {
   display: block;
}
.container__text_little {
   width: 88%;
   margin: 0 auto;
   margin-top: 1.875rem;
   
}
.services {
   background-image: url(../img/services.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position:  center;
   padding-top: 6.77vw;
   padding-bottom: 7.29vw;
   color: #fff
}
 .container__border_white {
   border: 2px solid #fff;
   border-top: none;
   margin: 0 2%;
   position: relative;
   padding: 0 20%;  
   line-height: 1.5;
}
.container__border_white:before {
   content: '';
   background-color: #fff;
   font-size: 0.833vw;
   width: 15.8em;
   height: 2px;
   position: absolute;
   top: 0;
   left: 0;
   display: block;
}
 .container__border_white:after {
   content: '';
   background-color: #fff;
   font-size: 0.833vw;
   width: 15.8em;
   height: 2px;
   position: absolute;
   top: 0;
   right: 0;
   display: block;
}
.container__text:last-child {
   margin-bottom: 1.875rem;
}
.what {
   padding: 6.25vw 0;
}
.what .container__title_little {
   font-size: 1.25rem;
   margin-top: 2.18rem;
}
.what .container__text_little {
   margin-bottom: 6.25vw;
}
.design__image {
   width: 4.99rem;
   height: 5.189rem;
}
.develpoment__image {
   width: 4.93rem;
   height: 4.75rem;
}
.management__image {
   width: 4.93rem;
   height: 5.68rem;
}
.what .container__border {
   padding: 0 11%;
}
.design {
   margin-top: 4.375rem;
}
.main-services__list {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;

}
.main-services {
   margin-bottom: 7.29167vw;
   color: #fff;
   font-size: 2.125rem;
}
.main-services__list__item {
   height: 240px;
   background-size: cover;
   flex-grow: 1;
   background-position: center center;
   position: relative;
}
.item-1 {
   background-image: url(../img/worktop.jpg);
   background-size: cover;
   flex-grow: 1;
}
.item-2 {
   background-image: url(../img/joint.jpg);
}
.item-3 {
   background-image: url(../img/market.jpg);
}
.item-4 {
   background-image: url(../img/worktop.jpg);
}
.item-5 {
   background-image: url(../img/market.jpg);
}
.item-6 {
   background-image: url(../img/joint.jpg);
}
.item-1,
.item-5,
.item-6 {
   transform: scaleX(-1);
}
.main-services__list__item__title {
   position: absolute;
   bottom: 10%;
   left: 10%;
}
.item-1 .main-services__list__item__title,
.item-5 .main-services__list__item__title,
.item-6 .main-services__list__item__title{
   transform: scaleX(-1);
   bottom: 10%;
   right: 10%;
}
.list__item__link {
   display: block;
   position: absolute;
   width: 100%;
   height: 100%;
}
.contact .container__border {
   padding: 0 14%;
}
.container__button {
   margin-top: 2.1526rem;
   border: 0;
   background-color: #3c3c3c;
   color: #fff;
   font-size: 1rem;
   text-transform: uppercase;
   letter-spacing: 0.16em;
   width: 75%;
   height: 3.625rem;
   padding: 0;
   margin-bottom: 3.125rem;
}
.svg-hidden {
   display: none;
}
.contact {
   margin-bottom: 4.0625rem;
}
footer {
   text-align: center;
   margin-bottom: 3.38vw;
}
.footer__image {
   display: inline-block;
}
.footer__logo {
   width: 2.5rem;
   height: 2.5rem;
}
.footer__copyright {
   font-size: 0.875rem;
   display: inline-block;
   margin: auto 0;
   margin-left: 2.1875rem;
}
.footer__container {
   display: flex;
   justify-content: center;
}






@media screen and (min-width: 736px) {
   html {
      font-size: 14px;
      overflow-x: hidden;
   }
   .main-services__list {
      flex-direction: row;

   }
   .main-services__list__item {
      flex-basis: 45%;
      margin-bottom: 10px;

   }
   .main-services__list__item:nth-child(even) {
      margin-left: 10px;

   }

}












@media screen and (min-width: 1200px) {
   html {
      font-size: 16px;
   }
   .header__container {
      padding: 0;
   }
   header {
      height: 100vh;
   }
   .container__border {
      margin: 0;
   }
   .container__border_white {
      margin: 0;
   }
   .main-services__list__item {
      margin-left: 10px;
      flex-basis: 20%;
   }
   .main-services__list__item:nth-child(1),
   .main-services__list__item:nth-child(4) {
      margin-left: 0;
   }
   .main-services__list__item:nth-child(2),
   .main-services__list__item:nth-child(5) {
      flex-grow: 2;
      flex-basis: 50%;
   }
}